<article class="current-form">
  <h2 class="current-form-title">QUICK & EASY</h2>

  <div class="current-input-block">
    <h4 class="current-input-label">City</h4>

    <input
      class="current-input current-city"
      placeholder="Required"
      autocomplete="off"
      type="text"
      required
    />
  </div>

  <div class="current-input-block">
    <h4 class="current-input-label">Latitude</h4>

    <input
      class="current-input current-latitude"
      placeholder="Optional"
      autocomplete="off"
      type="text"
      required
    />
  </div>

  <div class="current-input-block">
    <h4 class="current-input-label">Longitude</h4>

    <input
      class="current-input current-longitude"
      placeholder="Optional"
      autocomplete="off"
      type="text"
      required
    />
  </div>

  <a class="current-button" href="#current">
    <img class="current-button-image" src="/buttons/search.png" />
    <h4 class="current-button-text">Get Weather</h4>
  </a>
</article>

<article class="current-station">
  <article class="current-station-carousel">
    <% current.forEach((day, index) => { %>
    <div class="current-station-slide">
      <div class="current-header">
        <%- include("./current/header.ejs", { header: day.header }) %>
      </div>

      <div class="current-features-list">
        <%- include("./current/card.ejs", { card: day.cards[0] }) %>

        <div class="current-feature-points-list">
          <%- include("./current/point.ejs", { points: day.points }) %>
        </div>

        <%- include("./current/card.ejs", { card: day.cards[1] }) %>
      </div>
    </div>
    <% }) %>
  </article>

  <article class="current-station-controller">
    <% current.forEach((day) => { %>
    <h1 class="current-station-controller-button"><%= day.day %></h1>
    <% }) %>
  </article>
</article>

<img class="current-background" src="/home/current/background.jpg" />
