<article class="current-form"><%- include("./current/form.ejs") %></article>

<article class="current-station">
  <article class="current-station-carousel">
    <% current.forEach((day, index) => { %>
    <div class="current-station-slide">
      <div class="current-header">
        <%- include("./current/header.ejs", { header: day.header }) %>
      </div>

      <div class="current-features-list">
        <%- include("./current/card.ejs", { card: day.cards[0] }) %>

        <div class="current-feature-points-list">
          <%- include("./current/point.ejs", { points: day.points }) %>
        </div>

        <%- include("./current/card.ejs", { card: day.cards[1] }) %>
      </div>
    </div>
    <% }) %>
  </article>

  <article class="current-station-controller">
    <% current.forEach((day) => { %>
    <h1 class="current-station-controller-button"><%= day.day %></h1>
    <% }) %>
  </article>
</article>

<img class="current-background" src="/home/current/background.jpg" />
