<h2 class="personal-title">YOUR PERSONAL STATIONS</h2>

<form id="personal-form" action="/weather/add" method="post">
  <%- include("./personal/form.ejs") %>
</form>

<article class="personal-station-list">
  <% personal.forEach((station) => { %>
  <div class="personal-station">
    <img class="personal-background" src="/home/weather/test-1.jpg" />

    <article class="personal-header">
      <%- include("./personal/header.ejs", { header: station.days[0].header,
      location: station.location }) %>
    </article>

    <article class="personal-features-carousel">
      <% station.days.forEach((day, index) => { %>
      <article class="personal-features">
        <%- include("./personal/card.ejs", { card: day.cards[0] }) %>

        <div class="personal-points-list">
          <%- include("./personal/point.ejs", { points: day.points }) %>
        </div>

        <%- include("./personal/card.ejs", { card: day.cards[1] }) %>
      </article>
      <% }) %>
    </article>

    <article class="personal-controller">
      <% station.days.forEach((day) => { %>
      <h1 class="personal-controller-button"><%= day.day %></h1>
      <% }) %>
    </article>

    <img class="personal-expand-button" src="/buttons/round-down.png" />
    <img class="personal-collapse-button" src="/buttons/round-up.png" />
  </div>
  <% }) %>
</article>
