<% header.forEach((head, index) => { %>
<div class="personal-header-container">
  <% if(index === 0) { %>
  <img class="personal-header-image" src="<%= head.image %>" />
  <h4 class="personal-header-text <%= head.class %>"><%= head.value %></h4>

  <% } else { %>
  <img class="personal-header-details-image" src="<%= head.image %>" />

  <div class="personal-header-details">
    <h4 class="personal-header-details-title">Coordinates</h4>

    <h4 class="personal-header-details-text <%= head.class %>">
      <%= head.value %>
    </h4>
  </div>
  <% } %>
</div>
<% }) %>
