<div class="header-text-container">
  <h1 class="header-title"><%= info.header.title %></h1>
  <p class="header-description"><%= info.header.description %></p>
</div>

<% const i = username !== null ? 0 : 1 %>

<div class="header-links-container">
  <% info.links[i].forEach((link) => { %>
  <a class="header-link" href="<%= link.URL %>">
    <img class="header-link-image" src="<%= link.image %>" />
    <h4 class="header-link-text"><%= link.text %></h4>
  </a>
  <% }) %>
</div>
